In [34]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
import math, time, random, datetime

# Veri İşleme
import numpy as np
import pandas as pd

# Preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize

# Makine Öğrenmesi Metodları
import catboost
from sklearn.model_selection import train_test_split
from sklearn import model_selection, tree, preprocessing, metrics, linear_model
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression, LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from catboost import CatBoostClassifier, Pool, cv

file_path = "C:\\Users\\Furkann\\.spyder-py3\\hotel_bookings.csv"
df = pd.read_csv(file_path)

In [35]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [36]:
#Veri seti içerisindeki kayıp değerler
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [37]:
#Kayıp değerleri düzenliyoruz
df.dropna(subset=["children"], axis=0, inplace=True)
df.drop(['country'],axis=1,inplace=True)
zero_guests = list(df.loc[df["adults"]
                   + df["children"]
                   + df["babies"]==0].index)
if zero_guests is not None:
    df.drop(df.index[zero_guests], inplace=True)

In [39]:
#Modele dair etkisi olmayacağını düşündüğümüz öznitelikleri veri seti içerisinden çıkarıyoruz
df.drop(['arrival_date_week_number','meal','agent','company','adr','reservation_status','reservation_status_date'],axis=1,inplace=True)

In [40]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
required_car_parking_spaces       0
total_of_special_requests         0
dtype: int64

In [41]:
df = df.reset_index(drop=True)
df.shape

(119206, 24)

In [42]:
month_to_number={'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 'June':6,'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12 }
df['arrival_date_month']=df['arrival_date_month'].map(month_to_number)
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,2015,7,1,0,0,2,0.0,...,0,0,C,C,3,No Deposit,0,Transient,0,0
1,Resort Hotel,0,737,2015,7,1,0,0,2,0.0,...,0,0,C,C,4,No Deposit,0,Transient,0,0
2,Resort Hotel,0,7,2015,7,1,0,1,1,0.0,...,0,0,A,C,0,No Deposit,0,Transient,0,0
3,Resort Hotel,0,13,2015,7,1,0,1,1,0.0,...,0,0,A,A,0,No Deposit,0,Transient,0,0
4,Resort Hotel,0,14,2015,7,1,0,2,2,0.0,...,0,0,A,A,0,No Deposit,0,Transient,0,1

In [43]:
# pd.get_dummies metodu ile kategorik değerleri nümerik değerlere dönüştürüyoruz
df = pd.get_dummies(df,columns = ['hotel','market_segment', 'distribution_channel', 'reserved_room_type','assigned_room_type','deposit_type','customer_type'],drop_first=True)
df.head()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,assigned_room_type_H,assigned_room_type_I,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,342,2015,7,1,0,0,2,0.0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,737,2015,7,1,0,0,2,0.0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,7,2015,7,1,0,1,1,0.0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,13,2015,7,1,0,1,1,0.0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,14,2015,7,1,0,2,2,0.0,0,...,0,0,0,0,0,0,0,0,1,0

In [44]:
# Veri kümesini açıklayıcı istatistikler
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,assigned_room_type_H,assigned_room_type_I,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
count,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,...,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000,119206.000000
mean,0.370686,104.066498,2016.156485,6.552070,15.799373,0.927764,2.500956,1.856693,0.103938,0.007944,...,0.005973,0.003012,0.002340,0.000008,0.000075,0.122334,0.001359,0.004815,0.750549,0.210459
std,0.482991,106.887834,0.707465,3.089877,8.781425,0.998791,1.908602,0.578975,0.398691,0.097426,...,0.077053,0.054796,0.048322,0.002896,0.008689,0.327673,0.036840,0.069225,0.432697,0.407637
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,4.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,0.000000,69.000000,2016.000000,7.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,1.000000,160.000000,2017.000000,9.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,737.000000,2017.000000,12.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [69]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
import time, datetime

X = df.drop('is_canceled', axis=1) # Öznitelikler
y = df.is_canceled # Etiketler

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8,test_size=0.2, random_state=0)

In [71]:
def fit_ml_algo(algo, X_train, y_train, cv):
    
    model = algo.fit(X_train, y_train)
    acc = round(model.score(X_train, y_train) * 100, 2)
    
    # Çapraz doğrulama(Cross Validation)
    train_pred = model_selection.cross_val_predict(algo, 
                                                  X_train, 
                                                  y_train, 
                                                  cv=cv, 
                                                  n_jobs = -1)
    acc_cv = round(metrics.accuracy_score(y_train, train_pred) * 100, 2)
    
    return train_pred, acc, acc_cv

In [74]:
# Lojistik Regresyon
start_time = time.time()
train_pred_log, accuracy_log, acc_cv_log = fit_ml_algo(LogisticRegression(), 
                                                               X_train, 
                                                               y_train, 
                                                                    10)
log_time = (time.time() - start_time)
print("10-Katlamalı Cross Validation Doğruluğu: %s" % acc_cv_log)
print("Geçen Süre: %s" % datetime.timedelta(seconds=log_time))

10-Katlamalı Cross Validation Doğruluğu: 80.87
Geçen Süre: 0:00:34.808571

In [81]:
# k-En yakın Komşuluk
start_time = time.time()
train_pred_knn, acc_knn, acc_cv_knn = fit_ml_algo(KNeighborsClassifier(), 
                                                  X_train, 
                                                  y_train, 
                                                  10)
knn_time = (time.time() - start_time)
print("10-Katlamalı Cross Validation Doğruluğu: %s" % acc_cv_knn)
print("Geçen Süre: %s" % datetime.timedelta(seconds=knn_time))

10-Katlamalı Cross Validation Doğruluğu: 77.58
Geçen Süre: 0:08:39.112284

In [80]:
# Lineer SVC
start_time = time.time()
train_pred_svc, acc_linear_svc, acc_cv_linear_svc = fit_ml_algo(LinearSVC(),
                                                                X_train, 
                                                                y_train, 
                                                                10)
svc_time = (time.time() - start_time)
print("10-Katlamalı Cross Validation Doğruluğu: %s" % acc_cv_linear_svc)
print("Geçen Süre: %s" % datetime.timedelta(seconds=svc_time))

10-Katlamalı Cross Validation Doğruluğu: 74.07
Geçen Süre: 0:09:36.348930

In [79]:
# Karar Ağacı Algoritması
start_time = time.time()
train_pred_dt, acc_dt, acc_cv_dt = fit_ml_algo(DecisionTreeClassifier(), 
                                                                X_train, 
                                                                y_train,
                                                                10)
dt_time = (time.time() - start_time)
print("10-Katlamalı Cross Validation Doğruluğu: %s" % acc_cv_dt)
print("Geçen Süre: %s" % datetime.timedelta(seconds=dt_time))

10-Katlamalı Cross Validation Doğruluğu: 81.65
Geçen Süre: 0:00:24.126189

In [78]:
# Random Forest Algoritması
start_time = time.time()
train_pred_rf, acc_rf, acc_cv_rf = fit_ml_algo(RandomForestClassifier(), 
                                                                X_train, 
                                                                y_train,
                                                                10)
rf_time = (time.time() - start_time)
print("10-Katlamalı Cross Validation Doğruluğu: %s" % acc_cv_rf)
print("Geçen Süre: %s" % datetime.timedelta(seconds=rf_time))

10-Katlamalı Cross Validation Doğruluğu: 85.28
Geçen Süre: 0:00:41.011447